@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flowingBackground {
  0% { background-position: 0% 50%; }
  25% { background-position: 10% 60%; }
  50% { background-position: 100% 50%; }
  75% { background-position: 90% 40%; }
  100% { background-position: 0% 50%; }
}

.flowing-bg {
  background: linear-gradient(-45deg, 
    #87CEEB 0%, 
    #87CEFA 25%, 
    #B0E0E6 50%, 
    #87CEFA 75%, 
    #87CEEB 100%);
  background-size: 300% 300%;
  animation: flowingBackground 12s ease-in-out infinite;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
